<a href="https://colab.research.google.com/github/latiffaza8-cmyk/kkasemester1/blob/main/2_Tipe_Variabel_Faza_NL_XI_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Menampilkan Teks Bebas

In [ ]:
print("Halo dunia")

Halo dunia

In [ ]:
print("selamat datang di phyton")

selamat datang di phyton

In [ ]:
print("Mohammad Faza Nurdiansyah Latif")

Mohammad Faza Nurdiansyah Latif

#Variabel

In [ ]:
BB = 51
print(BB)

51

In [ ]:
umur = 16
print(umur)

16

In [ ]:
nama = "Mohammad Faza Nurdiansyah Latif"
print(nama)

Mohammad Faza Nurdiansyah Latif

#Menampilkan Variabel dan Teks Bebas

In [ ]:
print(f"umur saya {umur} tahun")

umur saya 16 tahun

In [ ]:
print("halo", nama)

halo Mohammad Faza Nurdiansyah Latif

In [ ]:
telurint("Hargatelurhargaharga_telur = 26000
prtelurhargaHarga telurtelur per 1 kg adalah", harga_telur)

Harga telur per 1 kg adalah 26000

In [ ]:
harga_telur = 26000
print("Harga telur per 1 kg adalah " + str(harga_telur))

Harga telur per 1 kg adalah 26000

In [ ]:
nama_pembeli = "Rafael"
print("Nama pembeli telur adalah"  + nama_pembeli)

Nama pembeli telur adalahRafael

#Escape Character

In [ ]:
print("Nama: Mohammad Faza Nurdiansyah Latif ")
print("Kelas: XI.1")
print("Nomor absen: 26")

Nama: Mohammad Faza Nurdiansyah Latif
Kelas: XI.1
Nomor absen: 26

In [ ]:
print("Nama\t\t: Mohammad Faza Nurdiansyah Latif\nKelas\t\t: XI.1\nNomor absen\t: 26")

Nama		: Mohammad Faza Nurdiansyah Latif
Kelas		: XI.1
Nomor absen	: 26

In [ ]:
print("""Nama: Mohammad Faza Nurdiansyah Latif
Kelas: XI.1
Nomor absen:26""")

Nama: Mohammad Faza Nurdiansyah Latif
Kelas: XI.1
Nomor absen:26

In [ ]:
print('ja\'far shodiq')

ja'far shodiq

In [ ]:
print("ja'far shodiq")

ja'far shodiq

In [ ]:
print("Bu Shinta berkata, \"Semua harus menyimak pelajaran.\"")

Bu Shinta berkata, "Semua harus menyimak pelajaran."

In [ ]:
print('Bu Shinta berkata, "Semua harus menyimak pelajaran."')

Bu Shinta berkata, "Semua harus menyimak pelajaran."

In [ ]:
print("lokasi file video karnaval ada di D:\\Karnaval 2025\\mp4")

lokasi file video karnaval ada di D:\Karnaval 2025\mp4

#Parameter Fungsi print

In [ ]:
tahun = 2009
bulan = "Juli"
tanggal = 21

print(tanggal)
print(bulan)
print(tahun)

21
Juli
2009

In [ ]:
tahun = 2009
bulan = "Juli"
tanggal = 21

print(tanggal, end=" ")
print(bulan, end=" ")
print(tahun)

21 Juli 2009

In [ ]:
tahun = 2009
bulan = "Juli"
tanggal = 21

print(tanggal, bulan, tahun, sep="/")

21/Juli/2009

#Latihan:

Tanggal-Bulan-Tahun

In [ ]:
nama_depan = "Mohammad"
nama_belakang = "Latif"

print(nama_depan, nama_belakang)

Mohammad Latif

In [ ]:
nama_depan = "Mohammad"
nama_belakang = "Latif"

print(nama_depan, end=" ")
print(nama_belakang, end=" ")

Mohammad Latif

#Soal latihan Pemrograman Python

In [ ]:
print('Bu Shinta berkata, "berikut adalah judul pelajaran hari senin selasa rabu silakan disimpan di laptop masing-masing di folder local disk D:\\Jadwal Pelajaran\\Kelas XI Semester I."\n')
print("Jadwal Pelajaran Mingguan")
print("===============================")
print("Jam\tsenin\t\tselasa\t\trabu")
print("Jam 1\tMatematika\tBahasa\t\tInformatika")
print("Jam 2\tBahasa Ing.\tSejarah\t\tMa\'rifatullah")
print("Jam 3\tInformatika\tOlahraga\tBiologi")

Bu Shinta berkata, "berikut adalah judul pelajaran hari senin selasa rabu silakan disimpan di laptop masing-masing di folder local disk D:\Jadwal Pelajaran\Kelas XI Semester I."

Jadwal Pelajaran Mingguan
===============================
Jam	senin		selasa		rabu
Jam 1	Matematika	Bahasa		Informatika
Jam 2	Bahasa Ing.	Sejarah		Ma'rifatullah
Jam 3	Informatika	Olahraga	Biologi

Latihan soal

1. Tampilkan teks bebas:Hari ini saya bahagia belajar bahasa phyton
2.Tampilkan nilai variabel:mata_pelajaran_favorit = Kode dan Kecerdasan Buatan
3.Tampilkan nilai variabel:nilai_kka = 100
4.Tampilkan teks bebas dan nilai variabel dengan  tiga metode(f string, "+",","):"Nilai KKA saya adalah {nilai_kka} loh!"

#Jawaban dari soal di atas

In [ ]:
print("Hari ini saya bahagia belajar bahasa phyton")

Hari ini saya bahagia belajar bahasa phyton

In [ ]:
mata_pelajaran_favorit = "Kode dan Kecerdasan Buatan"
print(mata_pelajaran_favorit)

Kode dan Kecerdasan Buatan

In [ ]:
nilai_kka = 100
print(nilai_kka)

100

In [ ]:
nilai_kka = 100
print(f"Nilai KKA saya adalah {nilai_kka} loh!")

Nilai KKA saya adalah 100 loh!

In [ ]:
nilai_kka = 100
print("Nilai KKA saya adalah",nilai_kka, "loh!")

Nilai KKA saya adalah 100 loh!

In [ ]:
nilai_kka = 100
print("Nilai KKA saya adalah " + str(nilai_kka) + " loh!")

Nilai KKA saya adalah 100 loh!

#Parameter Fungsi

In [ ]:
nama_hama_1 = "Naufal"
nama_hama_2 = "Favian"
nama_hama_3 = "Humaira"

print(nama_hama_1, nama_hama_2, nama_hama_3, nama_hama_2,  sep="~")

Naufal~Favian~Humaira~Favian

In [ ]:
nama_hama_1 = "Naufal"
nama_hama_2 = "Favian"
nama_hama_3 = "Humaira"
print(nama_hama_2, end="~")
print(nama_hama_1)
print(nama_hama_3, end="~")
print(nama_hama_1)

Favian~Naufal
Humaira~Naufal

#Assignment

#Single Assignment

In [ ]:
nama_siswa_2 = "Farel"
nama_siswa_3 = "Dhapne"

print(nama_siswa_2)
print(nama_siswa_3)

Farel
Dhapne

#Multiple Assignment

In [ ]:
nama_siswa_4, nama_siswa_5 = "Sada", "Selo"

print(nama_siswa_4)
print(nama_siswa_5)

Sada
Selo

#Assign ke banyak Variabel sekaligus

In [ ]:
nilai_afa = nilai_favian = 100

print(nilai_afa)
print(nilai_favian)

100
100

#Perubahan nilai variabel

In [ ]:
nilai_afa = 40

print(nilai_afa)

40

#Latihan Soal: Harga barang di swalayan

#Single Assignment

In [ ]:
Susu = "Rp15.000"
Roti = "Rp12.000"
Telur = 24000

print(Susu)
print(Roti)
print(Telur)

Rp15.000
Rp12.000
24000

In [ ]:
Gula, Minyak = "Rp14.000", 20000

print(Gula)
print(Minyak)

Rp14.000
20000

In [ ]:
Mie_ayam = Mie_soto = Mie_kari = "Rp3.500"

print(Mie_ayam)
print(Mie_soto)
print(Mie_kari)

Rp3.500
Rp3.500
Rp3.500

In [ ]:
Susu, Roti = Roti, Susu

print(Susu)
print(Roti)

Rp12.000
Rp15.000

In [ ]:
Telur -=2000
Minyak +=3000

print(Telur)
print(Minyak)

22000
23000

#Aritmatika

In [ ]:
print("5000*3")

5000*3

In [ ]:
#Operand tanpa disimpan dalam variabel
print(5000*3)

15000

In [ ]:
#simpan operand ke dalam variabel
harga_kojek = 6000
banyak_porsi = 3

print(harga_kojek*banyak_porsi)

18000

In [ ]:
#simpan hasil operasi ke dalam variabel
total_harga_kojek = 3000*3

print(total_harga_kojek)

9000

In [ ]:
#simpan nilai operand dan hasil operasi ke dalam variabel
harga_cilok = 10000
jumlah_porsi_cilok = 5
harga_total_cilok = harga_cilok*jumlah_porsi_cilok

print(harga_total_cilok)

50000

In [ ]:
uang_yang_diterima = 100000
uang_kembalian = uang_yang_diterima - harga_total_cilok

print(uang_kembalian)

50000

#Soal

In [ ]:
#operand tanpa disimpan dalam variabel

print(24*3)

72

In [ ]:
#simpan hasil operasi ke dalam variabel
total_jumlah_botol = 24*3

print(total_jumlah_botol)

72

In [ ]:
banyak_botol_per_kardus = 24
jumlah_kardus = 3

print(banyak_botol_per_kardus*jumlah_kardus)

72

In [ ]:
banyak_botol_per_kardus = 24
jumlah_kardus = 3
total_jumlah_botol = banyak_botol_per_kardus*jumlah_kardus

print(total_jumlah_botol)

72

#Tipe Variabel

In [ ]:
usia = 65

type(usia)

int

In [ ]:
berat_telur = 2.5

type(berat_telur)

float

In [ ]:
nama = "Apon"

type(nama)

str

In [ ]:
remidi = False

type(remidi)

bool

In [ ]:
remidi = True

type(remidi)

bool

In [ ]:
koordinat_bintang = -1.5

type(koordinat_bintang)

float

In [ ]:
koordinat_titik = -8
type(koordinat_titik)

int

#Input

In [ ]:
panjang = 10
lebar = 5
luas = panjang*lebar

print(luas)

50

In [ ]:
input()

10

'10'

In [ ]:
panjang = input()

10

In [ ]:
print(panjang)

10

In [ ]:
lebar = input ()

5

In [ ]:
print(lebar)

5

In [ ]:
luas = panjang*lebar
print(luas)

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
type(panjang)

str

In [ ]:
type(lebar)

str

In [ ]:
panjang = int(panjang)

In [ ]:
lebar = int(lebar)

In [ ]:
type(panjang)

int

In [ ]:
panjang_1 = int(input("Masukkan panjang persegi: "))

Masukkan panjang persegi: 10

In [ ]:
panjang_2 = int(input("Masukkan panjang persegi: "))
lebar_2 = int(input("Masukkan lebar persegi: "))

luas_2 = panjang_2*lebar_2

print(f"Luas persegi panjang adalah {luas_2} cm^2")

Masukkan panjang persegi: 4
Masukkan lebar persegi: 10
Luas persegi panjang adalah 40 cm^2

#Latihan Soal

In [ ]:
panjang_balok = int(input("Masukkan panjang balok: "))
lebar_balok = int(input("Masukkan lebar balok: "))
tinggi_balok = int(input("Masukkan tinggi balok: "))

volume_balok = panjang_balok*lebar_balok*tinggi_balok

print(f"Volume balok adalah {volume_balok} cm^3")

Masukkan panjang balok: 10
Masukkan lebar balok: 5
Masukkan tinggi balok: 4
Volume balok adalah 200 cm^3

#Operator Perbandingan

In [2]:
print(8<5)

False

In [4]:
print(8>5)

True

In [5]:
print(9>=9)

True

In [7]:
print(8==5)

False

In [8]:
print(8==8)

True

In [9]:
print(1 !=1)

False

In [10]:
a = 10
b = 20
c = 30

print(a>c)

False

In [11]:
print(a>30)

False

In [12]:
nilai_kka = 75
kkm_kka = 80

print(nilai_kka > kkm_kka)

False

#Operator Logika

In [13]:
print(8>7 and 5>6)

False

In [14]:
print(8>7 and 5<6)

True

In [15]:
print(8>7 or 5>6)

True

In [16]:
print(not(8>7 or 5>6))

False

In [17]:
print(not (8>=9 or 9!=8))

False

In [18]:
iq_min = 125
tinggi_min = 165

print(125  >=iq_min and 170 >= tinggi_min)

True

In [19]:
iq_afa = 125
tinggi_afa = 170

print(iq_afa >= iq_min and tinggi_afa >= tinggi_min)

True

#Soal

In [21]:
tinggi_min = 165
berat_badan_min = 50
maks_umur = 25
tinggi_farel = 170
berat_badan_farel = 55
umur_farel = 23
print(tinggi_min <= tinggi_farel and berat_badan_min <= berat_badan_farel and maks_umur >= umur_farel)

True